In [14]:
import pandas as pd

In [15]:
data = pd.read_csv("A2022_dataset_buat bedah data.csv", chunksize = 1000,  on_bad_lines = 'skip', delimiter = ';')
chunk_number = 1
chunks = []

for i, chunk in enumerate(data):
    data = pd.DataFrame(chunk)
    chunks.append(data)
    if i == chunk_number:
        break

In [16]:
data = pd.concat(chunks)
data.head()

,kodepemda,namapemda,sumber,tahun,bulan,kodedata,jeniscoa,nomorperda,tanggalperda,namaaplikasi,...,namaakunsubsubrinci,kodeakunsubsubsubrinci,namaakunsubsubsubrinci,volume,satuan,hargasatuan,kodesumberdana,namasumberdana,nilaianggaran,catatan
0,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,NaN,...,NaN,NaN,NaN,0,NaN,0,NaN,NaN,31600000,NaN
1,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,NaN,...,NaN,NaN,NaN,0,NaN,0,NaN,NaN,50000000,NaN
2,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,NaN,...,NaN,NaN,NaN,0,NaN,0,NaN,NaN,57250000,NaN
3,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,NaN,...,NaN,NaN,NaN,0,NaN,0,NaN,NaN,50000000,NaN
4,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,NaN,...,NaN,NaN,NaN,0,NaN,0,NaN,NaN,600669000,NaN

In [31]:
data.tail()

,kodepemda,namapemda,sumber,tahun,bulan,kodedata,jeniscoa,nomorperda,tanggalperda,namaaplikasi,...,namaakunsubsubrinci,kodeakunsubsubsubrinci,namaakunsubsubsubrinci,volume,satuan,hargasatuan,kodesumberdana,namasumberdana,nilaianggaran,catatan
1995,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,NaN,...,NaN,NaN,NaN,0,NaN,0,NaN,NaN,1087300000,NaN
1996,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,NaN,...,NaN,NaN,NaN,0,NaN,0,NaN,NaN,53160000,NaN
1997,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,NaN,...,NaN,NaN,NaN,0,NaN,0,NaN,NaN,642125000,NaN
1998,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,NaN,...,NaN,NaN,NaN,0,NaN,0,NaN,NaN,18891200,NaN
1999,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,NaN,...,NaN,NaN,NaN,0,NaN,0,NaN,NaN,2694027217,NaN

In [17]:
print("Shape : {s}".format(s = data.shape))
print("Column headers/names: {s}".format(s = list(data)))

Shape : (2000, 60)
Column headers/names: ['kodepemda', 'namapemda', 'sumber', 'tahun', 'bulan', 'kodedata', 'jeniscoa', 'nomorperda', 'tanggalperda', 'namaaplikasi', 'pengembangaplikasi', 'kodefungsi', 'namafungsi', 'kodesubfungsi', 'namasubfungsi', 'kodeurusanprogram', 'namaurusanprogram', 'kodeurusanpelaksana', 'namaurusanpelaksana', 'kodeskpd', 'namaskpd', 'kodeunitskpd', 'namaunitskpd', 'kodeprogram', 'namaprogram', 'namaoutcome', 'targetoutcome', 'satuanoutcome', 'kodekegiatan', 'namakegiatan', 'kodesubkegiatan', 'namasubkegiatan', 'namaoutput', 'targetoutput', 'satuanoutput', 'kodelokasi', 'namalokasi', 'kodeakunutama', 'namaakunutama', 'kodeakunkelompok', 'namaakunkelompok', 'kodeakunjenis', 'namaakunjenis', 'kodeakunobjek', 'namaakunobjek', 'kodeakunrinci', 'namaakunrinci', 'kodeakunsubrinci', 'namaakunsubrinci', 'kodeakunsubsubrinci', 'namaakunsubsubrinci', 'kodeakunsubsubsubrinci', 'namaakunsubsubsubrinci', 'volume', 'satuan', 'hargasatuan', 'kodesumberdana', 'namasumberdana', 'nilaianggaran', 'catatan']

In [18]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 60 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   kodepemda               2000 non-null   float64
 1   namapemda               2000 non-null   object
 2   sumber                  2000 non-null   object
 3   tahun                   2000 non-null   int64
 4   bulan                   2000 non-null   int64
 5   kodedata                2000 non-null   int64
 6   jeniscoa                2000 non-null   int64
 7   nomorperda              2000 non-null   object
 8   tanggalperda            2000 non-null   object
 9   namaaplikasi            0 non-null      float64
 10  pengembangaplikasi      0 non-null      float64
 11  kodefungsi              2000 non-null   int64
 12  namafungsi              2000 non-null   object
 13  kodesubfungsi           2000 non-null   int64
 14  namasubfungsi           0 non-null      float64
 15  kodeurusanprogram       2000 non-null   object
 16  namaurusanprogram       2000 non-null   object
 17  kodeurusanpelaksana     2000 non-null   object
 18  namaurusanpelaksana     2000 non-null   object
 19  kodeskpd                2000 non-null   int64
 20  namaskpd                2000 non-null   object
 21  kodeunitskpd            2000 non-null   int64
 22  namaunitskpd            2000 non-null   object
 23  kodeprogram             2000 non-null   int64
 24  namaprogram             2000 non-null   object
 25  namaoutcome             0 non-null      float64
 26  targetoutcome           2000 non-null   int64
 27  satuanoutcome           0 non-null      float64
 28  kodekegiatan            2000 non-null   int64
 29  namakegiatan            2000 non-null   object
 30  kodesubkegiatan         2000 non-null   int64
 31  namasubkegiatan         2000 non-null   object
 32  namaoutput              0 non-null      float64
 33  targetoutput            2000 non-null   int64
 34  satuanoutput            0 non-null      float64
 35  kodelokasi              0 non-null      float64
 36  namalokasi              0 non-null      float64
 37  kodeakunutama           2000 non-null   int64
 38  namaakunutama           2000 non-null   object
 39  kodeakunkelompok        2000 non-null   int64
 40  namaakunkelompok        2000 non-null   object
 41  kodeakunjenis           2000 non-null   int64
 42  namaakunjenis           2000 non-null   object
 43  kodeakunobjek           2000 non-null   int64
 44  namaakunobjek           2000 non-null   object
 45  kodeakunrinci           2000 non-null   int64
 46  namaakunrinci           2000 non-null   object
 47  kodeakunsubrinci        2000 non-null   int64
 48  namaakunsubrinci        2000 non-null   object
 49  kodeakunsubsubrinci     0 non-null      float64
 50  namaakunsubsubrinci     0 non-null      float64
 51  kodeakunsubsubsubrinci  0 non-null      float64
 52  namaakunsubsubsubrinci  0 non-null      float64
 53  volume                  2000 non-null   int64
 54  satuan                  0 non-null      float64
 55  hargasatuan             2000 non-null   int64
 56  kodesumberdana          0 non-null      float64
 57  namasumberdana          0 non-null      float64
 58  nilaianggaran           2000 non-null   int64
 59  catatan                 0 non-null      float64
dtypes: float64(18), int64(22), object(20)
memory usage: 937.6+ KB

In [19]:
data.describe()

,kodepemda,tahun,bulan,kodedata,jeniscoa,namaaplikasi,pengembangaplikasi,kodefungsi,kodesubfungsi,namasubfungsi,...,namaakunsubsubrinci,kodeakunsubsubsubrinci,namaakunsubsubsubrinci,volume,satuan,hargasatuan,kodesumberdana,namasumberdana,nilaianggaran,catatan
count,2000.0,2000.0,2000.0,2000.0,2000.0,0.0,0.0,2000.000000,2000.0,0.0,...,0.0,0.0,0.0,2000.0,0.0,2000.0,0.0,0.0,2.000000e+03,0.0
mean,1.0,2022.0,0.0,1.0,3.0,NaN,NaN,8.775500,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,3.251770e+09,NaN
std,0.0,0.0,0.0,0.0,0.0,NaN,NaN,1.960873,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,2.406511e+10,NaN
min,1.0,2022.0,0.0,1.0,3.0,NaN,NaN,1.000000,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,1.347000e+03,NaN
25%,1.0,2022.0,0.0,1.0,3.0,NaN,NaN,7.000000,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,1.186000e+07,NaN
50%,1.0,2022.0,0.0,1.0,3.0,NaN,NaN,10.000000,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,4.999436e+07,NaN
75%,1.0,2022.0,0.0,1.0,3.0,NaN,NaN,10.000000,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,2.826705e+08,NaN
max,1.0,2022.0,0.0,1.0,3.0,NaN,NaN,11.000000,0.0,NaN,...,NaN,NaN,NaN,0.0,NaN,0.0,NaN,NaN,4.763700e+11,NaN

Mengecek missing value.

In [20]:
data.isnull().sum()

kodepemda                    0
namapemda                    0
sumber                       0
tahun                        0
bulan                        0
kodedata                     0
jeniscoa                     0
nomorperda                   0
tanggalperda                 0
namaaplikasi              2000
pengembangaplikasi        2000
kodefungsi                   0
namafungsi                   0
kodesubfungsi                0
namasubfungsi             2000
kodeurusanprogram            0
namaurusanprogram            0
kodeurusanpelaksana          0
namaurusanpelaksana          0
kodeskpd                     0
namaskpd                     0
kodeunitskpd                 0
namaunitskpd                 0
kodeprogram                  0
namaprogram                  0
namaoutcome               2000
targetoutcome                0
satuanoutcome             2000
kodekegiatan                 0
namakegiatan                 0
kodesubkegiatan              0
namasubkegiatan              0
namaoutput                2000
targetoutput                 0
satuanoutput              2000
kodelokasi                2000
namalokasi                2000
kodeakunutama                0
namaakunutama                0
kodeakunkelompok             0
namaakunkelompok             0
kodeakunjenis                0
namaakunjenis                0
kodeakunobjek                0
namaakunobjek                0
kodeakunrinci                0
namaakunrinci                0
kodeakunsubrinci             0
namaakunsubrinci             0
kodeakunsubsubrinci       2000
namaakunsubsubrinci       2000
kodeakunsubsubsubrinci    2000
namaakunsubsubsubrinci    2000
volume                       0
satuan                    2000
hargasatuan                  0
kodesumberdana            2000
namasumberdana            2000
nilaianggaran                0
catatan                   2000
dtype: int64

Column yang memiliki missing value didrop.

In [32]:
data2 = data.drop(['namaaplikasi', 'pengembangaplikasi', 'namasubfungsi',  'namaoutcome', 'satuanoutcome', 'namaoutput', 'satuanoutput', 'kodelokasi', 'namalokasi', 'kodeakunsubsubrinci', 'namaakunsubsubrinci', 'kodeakunsubsubsubrinci', 'namaakunsubsubsubrinci', 'satuan', 'kodesumberdana' , 'namasumberdana', 'catatan'], axis = 1)
data2

,kodepemda,namapemda,sumber,tahun,bulan,kodedata,jeniscoa,nomorperda,tanggalperda,kodefungsi,...,namaakunjenis,kodeakunobjek,namaakunobjek,kodeakunrinci,namaakunrinci,kodeakunsubrinci,namaakunsubrinci,volume,hargasatuan,nilaianggaran
0,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,10,...,Retribusi Daerah ...,2,Retribusi Jasa Usaha ...,1,Retribusi Pemakaian Kekayaan Daerah ...,5,Retribusi Pemakaian Ruangan ...,0,0,31600000
1,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,10,...,Retribusi Daerah ...,2,Retribusi Jasa Usaha ...,1,Retribusi Pemakaian Kekayaan Daerah ...,1,Retribusi Penyewaan Tanah dan Bangunan ...,0,0,50000000
2,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,10,...,Retribusi Daerah ...,2,Retribusi Jasa Usaha ...,6,Retribusi Tempat Penginapan/ Pesanggrahan/Vila...,1,Retribusi Pelayanan Tempat Penginapan/ Pesangg...,0,0,57250000
3,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,10,...,Lain-lain PAD yang Sah ...,11,Pendapatan Denda atas Keterlambatan Pelaksanaa...,1,Pendapatan Denda atas Keterlambatan Pelaksanaa...,1,Pendapatan Denda atas Keterlambatan Pelaksanaa...,0,0,50000000
4,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,10,...,Lain-lain PAD yang Sah ...,15,Pendapatan dari Pengembalian ...,1,Pendapatan dari Pengembalian Kelebihan Pembaya...,1,Pendapatan dari Pengembalian Kelebihan Pembaya...,0,0,600669000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,7,...,Belanja Modal Peralatan dan Mesin ...,8,Belanja Modal Alat Laboratorium ...,4,Belanja Modal Alat Laboratorium Fisika Nuklir/...,5,Belanja Modal System/Power Supply ...,0,0,1087300000
1996,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,7,...,Belanja Modal Peralatan dan Mesin ...,8,Belanja Modal Alat Laboratorium ...,5,Belanja Modal Alat Proteksi Radiasi/Proteksi L...,2,Alat Kesehatan Kerja ...,0,0,53160000
1997,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,7,...,Belanja Modal Peralatan dan Mesin ...,8,Belanja Modal Alat Laboratorium ...,9,Belanja Modal Alat Laboratorium Standarisasi K...,11,Belanja Modal Alat Laboratorium Standarisasi K...,0,0,642125000
1998,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,7,...,Belanja Modal Peralatan dan Mesin ...,8,Belanja Modal Alat Laboratorium ...,1,Belanja Modal Unit Alat Laboratorium ...,11,Belanja Modal Alat Laboratorium Umum ...,0,0,18891200
1999,1.0,Provinsi Aceh,Sinergi5,2022,0,1,3,-,1900-01-01,7,...,Belanja Modal Peralatan dan Mesin ...,8,Belanja Modal Alat Laboratorium ...,1,Belanja Modal Unit Alat Laboratorium ...,11,Belanja Modal Alat Laboratorium Umum ...,0,0,2694027217

Mengecek kembali.

In [30]:
data2.isnull().sum()

kodepemda              0
namapemda              0
sumber                 0
tahun                  0
bulan                  0
kodedata               0
jeniscoa               0
nomorperda             0
tanggalperda           0
kodefungsi             0
namafungsi             0
kodesubfungsi          0
kodeurusanprogram      0
namaurusanprogram      0
kodeurusanpelaksana    0
namaurusanpelaksana    0
kodeskpd               0
namaskpd               0
kodeunitskpd           0
namaunitskpd           0
kodeprogram            0
namaprogram            0
targetoutcome          0
kodekegiatan           0
namakegiatan           0
kodesubkegiatan        0
namasubkegiatan        0
targetoutput           0
kodeakunutama          0
namaakunutama          0
kodeakunkelompok       0
namaakunkelompok       0
kodeakunjenis          0
namaakunjenis          0
kodeakunobjek          0
namaakunobjek          0
kodeakunrinci          0
namaakunrinci          0
kodeakunsubrinci       0
namaakunsubrinci       0
volume                 0
hargasatuan            0
nilaianggaran          0
dtype: int64